<div class="border p-3 mb-3">
    <div class="text-center mb-3">
        <!-- Кнопка для добавления нового поля -->
        <button type="button" class="btn btn-success btn-sm add-field-btn">
            <i class="fas fa-plus-circle"></i>
        </button>
    </div>
    <div id="fields-container">
        <div class="form-group row mb-3 align-items-center field">
            <!-- Поле для загрузки фотографии трека -->
            <div class="col">
                <div class="input-group p-2">
                    <input type="file" name="track_image_0" class="form-control-file track-image-field">
                    <button type="button" class="btn btn-danger btn-sm remove-field-btn">
                        <i class="fas fa-minus-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>